In [1]:
## libraby

from bs4 import BeautifulSoup
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

**Obtenir le site Web et extraire les données**

webpage = requests.get("...") : télécharge la page web à l’URL donnée et stocke la réponse HTTP (son contenu, son code de statut, etc.) dans la variable webpage.

soup = BeautifulSoup(webpage.content, "html.parser") : transforme le HTML brut de webpage en un objet BeautifulSoup pour pouvoir parcourir et extraire facilement des éléments de la page.

In [2]:

webpage = requests.get("https://content.codecademy.com/courses/beautifulsoup/cacao/index.html")


soup = BeautifulSoup(webpage.content, "html.parser")

Ici, nous utilisons la fonction **.find_all** sur la soup  variable que nous avons déclarée auparavant, cette soup  variable a le contenu du site Web, nous devons donc trouver ce dont nous avons besoin.


Dans le code, vous pouvez modifier "class"n'importe quelle balise HTML comme "id"et "class-name"n'importe quel nom de classe/id spécifique que vous souhaitez trouver.

In [3]:
#Stockez tout le texte en HTML avec la classe "Rating","CocoaPercent" et Company
rating_column = soup.find_all(attrs={"class": "Rating"})
cocoa_percent_tags = soup.find_all(attrs={"class": "CocoaPercent"})
company_column=soup.find_all(attrs={"class": "Company"})
origin_column=soup.find_all(attrs={"class": "Origin"})

In [4]:
#
#rating_column

In [5]:
#type(rating_column)

In [6]:
origin_column[0].get_text().replace("\n","")

'Specific Bean Origin               or Bar Name            '

In [7]:
origin_column[0].get_text().replace("\n","")

'Specific Bean Origin               or Bar Name            '

In [8]:
#Faire des listes vides pour Rating et CocoaPercent
ratings = []
cocoa_percents = []
company=[]
origin=[]


#Boucle pour insérer chaque donnée de table dans la liste
for x in rating_column[1:]:
  ratings.append(float(x.get_text()))






for cm in company_column[1:]:
    company.append(cm.get_text())



for org in origin_column[1:]:
    origin.append(org.get_text())

for cacao in cocoa_percent_tags[1:]:
  cocoa_percents.append(cacao.get_text())

#Combiner les notes et la liste des pourcentages de cacao dans un dictionnaire
data = {"Company": company,"Origine spécifique du harirot":origin, "Rating": ratings, "CocoaPercentage": cocoa_percents}

#Créer une nouvelle trame de données à partir du dictionnaire de données
df = pd.DataFrame.from_dict(data)

In [9]:
df.head(10)

    Company Origine spécifique du harirot  Rating CocoaPercentage
0  A. Morin                   Agua Grande    3.75             63%
1  A. Morin                         Kpime    2.75             70%
2  A. Morin                        Atsane    3.00             70%
3  A. Morin                         Akata    3.50             70%
4  A. Morin                        Quilla    3.50             70%
5  A. Morin                      Carenero    2.75             70%
6  A. Morin                          Cuba    3.50             70%
7  A. Morin                  Sur del Lago    3.50             70%
8  A. Morin                Puerto Cabello    3.75             70%
9  A. Morin                       Pablino    4.00             70%

In [15]:
df.shape

(1795, 4)

In [11]:
#df.to_csv('/content/export/GfG.csv', index = True)

# **Méthodes utiles de BeautifulSoup**

# **A. Rechercher des éléments**

| Méthode                          | Ce qu’elle fait                                                                        |
| -------------------------------- | -------------------------------------------------------------------------------------- |
| `find(name, attrs, string)`      | Retourne **le premier** élément qui correspond (par nom de balise, attributs, texte).  |
| `find_all(name, attrs, string)`  | Retourne **tous** les éléments correspondants (liste). Alias : `findAll`.              |
| `select(css_selector)`           | Retourne les éléments qui matchent un **sélecteur CSS** (ex. `"table.data td.price"`). |
| `select_one(css_selector)`       | Retourne **le premier** élément qui match un sélecteur CSS.                            |
| `find_parent(name, attrs)`       | Premier **parent** qui matche.                                                         |
| `find_parents(name, attrs)`      | **Tous les parents** qui matchent.                                                     |
| `find_next(name, attrs)`         | Prochain élément **après** dans le flux qui matche.                                    |
| `find_all_next(name, attrs)`     | **Tous** les suivants qui matchent.                                                    |
| `find_previous(name, attrs)`     | Élément **avant** dans le flux qui matche.                                             |
| `find_all_previous(name, attrs)` | **Tous** les précédents qui matchent.                                                  |

**B. Naviguer dans l’arbre**

| Méthode/Attribut                          | Ce qu’elle fait                                                |
| ----------------------------------------- | -------------------------------------------------------------- |
| `tag.parent` / `tag.parents`              | Accéder au parent / itérer sur tous les parents.               |
| `tag.next_sibling` / `previous_sibling`   | Frère **suivant** / **précédent** immédiat.                    |
| `tag.next_siblings` / `previous_siblings` | Itérateurs sur **tous** les frères suivants/précédents.        |
| `tag.children` / `tag.descendants`        | Itérateurs sur **enfants directs** / **tous les descendants**. |
| `tag.contents`                            | **Liste** des enfants directs.                                 |
| `soup.title`, `soup.head`, `soup.body`    | Accès rapide au **premier** tag de ce type.                    |

In [3]:
from extraction.webscrapping import ExtractionData 

url = "https://content.codecademy.com/courses/beautifulsoup/cacao/index.html"
colonnes = ["Company", "Origin", "Rating","Cocoa Percent"]

df = ExtractionData.extract_webscrapping(url)#, colonnes)#,selector= "table#Cacao Ratings")
print(df.head())

❌ Erreur lors de l'extraction : All arrays must be of the same length
Empty DataFrame
Columns: [infoTable, Company, Origin, REF, ReviewDate, CocoaPercent, CompanyLocation, Rating, BeanType, BroadBeanOrigin]
Index: []

In [1]:
from extraction.webscrapping import ExtractionData 
url = "https://content.codecademy.com/courses/beautifulsoup/cacao/index.html"

colonnes = ["Company", "Origin", "Rating", "CocoaPercent"]
noms_final = ["Company Location", "Broad Bean Origin", "Rating", "Cocoa Percent"]

df = ExtractionData.extract_webscrapping(
    url, 
    columns_to_extract=colonnes, 
    rename_columns=noms_final
)

print(df.head())

  Company Location Broad Bean Origin Rating Cocoa Percent
0         A. Morin       Agua Grande   3.75           63%
1         A. Morin             Kpime   2.75           70%
2         A. Morin            Atsane      3           70%
3         A. Morin             Akata    3.5           70%
4         A. Morin            Quilla    3.5           70%

In [5]:
url = "https://content.codecademy.com/courses/beautifulsoup/cacao/index.html"

# 1) Sans colonnes → prend tout
df_all = ExtractionData.extract_webscrapping(url)
print(df_all.head())

Empty DataFrame
Columns: []
Index: [0]

In [5]:
from module_exploration.doublons import ValeurDouble
print(ValeurDouble.calcul_valeur_double(df))

Il n'y a pas de valeurs doublons dans la DataFrame.
None

In [2]:
from module_exploration.valeurs_manquantes import ValeurManquante
print(ValeurManquante.calcul_valeur_manquante(df))

Company Location     0
Broad Bean Origin    0
Rating               0
Cocoa Percent        0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company Location   1795 non-null   object
 1   Broad Bean Origin  1795 non-null   object
 2   Rating             1795 non-null   float64
 3   Cocoa Percent      1795 non-null   object
dtypes: float64(1), object(3)
memory usage: 56.2+ KB

In [9]:
from transformation.type_colonne import TypeColonne
df2=TypeColonne.changer_type_colonne(df,cols="Rating",type_="float")

La colonne 'Rating' a été convertie en float64

In [4]:
df2["Rating"].isna().sum()

np.int64(0)

In [14]:
from anomalie.z_score import ZScoreAnomalie
print(ZScoreAnomalie.calcul_zscore(df2,colonne="Rating"))

La colonne Rating contient 19 valeurs abérantes
78      5.00
86      5.00
125     1.75
132     1.75
245     1.50
249     1.50
324     1.50
326     1.00
437     1.00
449     1.50
465     1.00
554     1.50
828     1.75
988     1.50
1129    1.50
1175    1.00
1411    1.50
1492    1.50
1694    1.50
Name: Rating, dtype: float64

In [1]:
df["Rating"].info()

NameError: name 'df' is not defined

In [5]:
from transformation.normalisation import NormaliserColonne
df3 = NormaliserColonne.normaliser_colonne_choisie(df2,col="Rating")

La colonne 'Rating' a été normalisée entre 0 et 1.

In [5]:
from imputation.imputer import Imputateur
Imputateur.imputer_colonne(df2,colonne="Rating",strategie="moyenne")

 Colonne 'Rating' ne contient aucun NaN → aucune imputation nécessaire.

0       3.75
1       2.75
2       3.00
3       3.50
4       3.50
        ...
1790    3.75
1791    3.00
1792    3.50
1793    3.25
1794    3.00
Name: Rating, Length: 1795, dtype: float64

In [5]:
from imputation.imputation_supervisee import ImputateurML
from sklearn.ensemble import RandomForestRegressor
modele = RandomForestRegressor(random_state=42)

df3 = ImputateurML.imputer_colonne_ml(df2,colonne_cible="Rating",modele = modele)

 Colonne 'Rating' ne contient aucun NaN → aucune imputation nécessaire.

In [8]:
from transformation.type_colonne import TypeColonne

TypeColonne.changer_type_colonne(df,cols=["Company Location","Broad Bean Origin"],type_="string",inplace = True)

La colonne 'Company Location' a été convertie en string
La colonne 'Broad Bean Origin' a été convertie en string

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company Location   1795 non-null   string
 1   Broad Bean Origin  1795 non-null   string
 2   Rating             1795 non-null   object
 3   Cocoa Percent      1795 non-null   object
dtypes: object(2), string(2)
memory usage: 56.2+ KB

In [5]:
from remplacement.remplacer import RemplacementColonne

RemplacementColonne.remplacer_valeurs(df,colonne = "Cocoa Percent",remplacement=("%",""),divide=True,inplace= True)

 Remplacement effectué et colonne 'Cocoa Percent' divisée par 100.

     Company Location   Broad Bean Origin Rating  Cocoa Percent
0            A. Morin         Agua Grande   3.75           0.63
1            A. Morin               Kpime   2.75           0.70
2            A. Morin              Atsane      3           0.70
3            A. Morin               Akata    3.5           0.70
4            A. Morin              Quilla    3.5           0.70
...               ...                 ...    ...            ...
1790           Zotter                Peru   3.75           0.70
1791           Zotter               Congo      3           0.65
1792           Zotter        Kerala State    3.5           0.65
1793           Zotter        Kerala State   3.25           0.62
1794           Zotter  Brazil, Mitzi Blue      3           0.65

[1795 rows x 4 columns]

In [4]:
from nettoyage.gestion_outliers import GestionOutliers

GestionOutliers.gerer_outliers(df2,colonne="Rating",strategie="remove",inplace=True)

Rating: outliers supprimés (n=19).

     Company Location   Broad Bean Origin  Rating Cocoa Percent
0            A. Morin         Agua Grande    3.75           63%
1            A. Morin               Kpime    2.75           70%
2            A. Morin              Atsane    3.00           70%
3            A. Morin               Akata    3.50           70%
4            A. Morin              Quilla    3.50           70%
...               ...                 ...     ...           ...
1790           Zotter                Peru    3.75           70%
1791           Zotter               Congo    3.00           65%
1792           Zotter        Kerala State    3.50           65%
1793           Zotter        Kerala State    3.25           62%
1794           Zotter  Brazil, Mitzi Blue    3.00           65%

[1776 rows x 4 columns]

In [5]:
from anomalie.z_score import ZScoreAnomalie
print(ZScoreAnomalie.calcul_zscore(df2,colonne="Rating"))

Aucune valeur aberrante détectée dans la colonne 'Rating'.
None

In [15]:
from transformation.standardisation_z_score import Standardisation

Standardisation.zscore(df2,colonnes="Rating",prefix ="std_")

     Company Location   Broad Bean Origin    Rating Cocoa Percent
0            A. Morin         Agua Grande  1.180231           63%
1            A. Morin               Kpime -0.912129           70%
2            A. Morin              Atsane -0.389039           70%
3            A. Morin               Akata  0.657141           70%
4            A. Morin              Quilla  0.657141           70%
...               ...                 ...       ...           ...
1790           Zotter                Peru  1.180231           70%
1791           Zotter               Congo -0.389039           65%
1792           Zotter        Kerala State  0.657141           65%
1793           Zotter        Kerala State  0.134051           62%
1794           Zotter  Brazil, Mitzi Blue -0.389039           65%

[1795 rows x 4 columns]